body {
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    margin-left: 120px;
    margin-right: 120px;
}

.header {
    background-color: #ebebeb;
    text-align: center;
    width: 495px;
    border: 30px;
    padding: 30px;

}

.nav {
    text-align: center;
    width: 495px;
    background-color: #ebebeb;
    border: 30px;
    padding: 30px;
}

.section {
    text-align: center;
    width: 256px;
    float: left;
    background-color: #ebebeb;

}

.article{
    background-color: #777;
    color: #ebebeb;
}

.h{
    color: #777;
    background-color: #ebebeb;
}

.p {
    color: #777;
    background-color: #ebebeb;
    border: 50px;
}

.aside {
    width: 256px;
    text-align: center;
    float: right;
    margin-right: 425px;
    background-color: #ebebeb
}

.footer {
    text-align: center;
    float: bottom;
    width: 495px;
    margin-top: 150px;
    background-color: #ebebeb;
    border: 30px;
    padding: 30px;
}
